__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib

*.egg
*.egg-info/
.eggs/
dist/
build/
develop-eggs/
.installed.cfg

.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Environment files
services/api/.env
services/api/.env.*
services/api/**/.env
services/api/**/.env.*

services/train/.env
services/train/.env.*
services/train/**/.env
services/train/**/.env.*


.ipynb_checkpoints/

.vscode/
.idea/


.DS_Store
Thumbs.db


logs/
*.log

*.dvc
.dvc/tmp/
.dvc/cache/

!dvc.yaml
!.dvcignore

artifacts/
mlruns/
*.onnx
*.ckpt

# Hugging Face caches
root/.cache/huggingface/
.huggingface/
cache/
datasets/

**/checkpoint-*/
**/runs/
**/tensorboard/

docker-compose.override.yml
*.tar

data/processed/
data/interim/

data/raw/

__pypackages__/
mlruns/
mlartifacts/

.dvc/config.local
.dvc/tmp
.dvc/cache

logs/predictions/

.coverage
htmlcov/
